body {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    background: url('../assets/bgStarWars.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.topLevelLists {
    text-transform: uppercase;
    li {
        margin: 20px 0;
    }
}

a {
    color: #FFE81F;
    padding: 5px 10px;
    transition: all .3s;
    background: #29292d;
    width: 100%;
    border: 1px solid transparent;

    &:hover,
    &:focus {
        color: #29292d;
        background: #FFE81F;
    }
}

// Style for a LINK to go one lever up
.goLevelUp {
    text-align: center;
}