body {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    background: url('../assets/bgStarWars.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// main menu list(people, movies, planets)
.topLevelLists {
    text-transform: uppercase;

    li {
        margin: 20px 0;
    }
}

// sublist styling(people, fimls, planets)
.subList {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-gap: 30px;
    justify-items: center;
    width: 100%;
}

// go back links and other
a {
    color: #FFE81F;
    padding: 5px 10px;
    transition: all .3s;
    background: #29292d;
    width: 100%;
    border: 1px solid transparent;

    &:hover,
    &:focus {
        color: #29292d;
        background: #FFE81F;
    }
}

// Style for a LINK to go one lever up
.goToUpperLevel {
    margin-bottom: auto;
}

// nextPrev pages button positioning
.nextPrevPages {
    margin: 0 0 50px 0;
}